.hero h1 {
    transform-origin: center;
    animation: gauchedroite 1500ms;
    transition: ease-out;
}

@keyframes gauchedroite  {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero p {
    transform-origin: center;
    animation: droitegauche 2000ms;
    transition: ease-out;
}

@keyframes droitegauche  {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



