.partage h2 {
    font-family: 'BenchNine', sans-serif;
    color: #153053;
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 2.5em;
    text-align: center;
}

.champ_partage {
    display: flex;
    justify-content: center;
}

.champ_partage form input[type=text] {
    border-radius: 40px;
    padding: 12px;
    margin-top: 1em;

}



.champ_partage form input[type=submit]{
    display: block;
    background-color: #F4B03E;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3em;
    width: 8em;
    height: 3em;
    border-radius: 2em;
}
#categorie, #jeu{
    display: flex;
    justify-content: center;
}